# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform Variables
*.tfvars

# Sensitive Files
*.pem
*.key

# Docker
*.tar

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.dbs